body {
  margin: 0;
  padding: 0;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  /* font-family: 'Encode Sans', sans-serif; */
  font-family: 'Niramit', 'Segoe UI', -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: hidden;
  font-size: .8em;
}
.react-icons {
  vertical-align: middle;
}
.inputTask {
  transition: all .3s;
  border: none;
  /* background-color: #f9876b; */
  background-color: #dc5858;  
  border-radius: 5px;
  width: 100%;
  line-height: 2em;
  display: block;
  
  box-shadow: 0 5px 10px rgba(0,0,0,.15);
  color: #fff;
  padding: 10px 20px;
  font-size: 1.2em;
}
.inputTask:focus {
  box-shadow: 0 5px 20px rgba(0,0,0,.25);
  /* background-color: #f88062; */
  background-color: #ce5252;
  outline: none;
  
  /* transition:  .3s; */
  /* background-color: #fff; */
}
.inputTask::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: .5; /* Firefox */
}


.stickyOnBthStartTask {
  position: absolute;
  right: 10px;
  height: 100%;
  top: 0;
  /* top: 50%;
  transform: translateY(-50%); */
  display: flex;
  align-items: center;

}
.btnStartTask {  
  width: 100px;
  cursor: pointer;
  color: #fff;
  bottom: 10px;
  text-align: center;
  line-height: 36px;
  display: inline-block;
  vertical-align: middle;
}

.btnStartTask:hover {
  background-color: rgba(255,255,255,.1);
  border-radius: 5px;
}



a {
  color: rgb(33, 150, 243);
  text-decoration: none !important;
}

/* custom button group */
.buttonGroup {
  padding: 5px 20px;
  line-height: 1;
  height: 44px;
}
.buttonGroup strong {
  font-weight: 400;
}
.buttonGroup i {
  font-size: 12px;
  font-style: normal;
  line-height: 0.8;
}
.fozg-ui-buttonGroup-expand:nth-child(6)  .buttonGroup {
  background-color: #5bb6ff;
  color: #fff;
  transition: 1s background-color;
}
.fozg-ui-buttonGroup-expand:last-of-type .buttonGroup{
  background-color: #2196f3;
  color: #fff;
  transition: 1s background-color;
}
  /* .fozg-ui-buttonGroup-expand:last-of-type.fozg-ui-buttonGroup-active .buttonGroup,
  .fozg-ui-buttonGroup-expand:nth-child(6).fozg-ui-buttonGroup-active .buttonGroup
  {
    background-color: transparent !important;
  } */

.fozg-ui-buttonGroup-expand.fozg-ui-buttonGroup-active .buttonGroup  {
  background-color: transparent !important;
}
.fozg-ui-SelectGroup-active {
  background-color:  #dc5858 !important;
}